
#tee{
    border-left: thick solid gray;
    padding: 1em;
    color: blue;
}
#toyfat{
    box-shadow: 0 0 .5em;
}
.customize{
    position: relative;
    top: 3vh;
    /* border: thin solid; */
    margin-bottom: 7vh;
    box-shadow: 0 0 .5em;
    border-radius: 3px;
}
#btn{
    position: relative;
    top: 2vh;
}
#footer{
    background-color: black;
}